{% extends 'base.html.twig' %}

{% block title "Gérer les tricks" %}

{% block body %}
<div class="banner_img">
</div>
<div class="container mt-4">
	<h1 class="mb-4">Gérer les biens</h1>
    {% for message in app.flashes('success') %}
    <span class="mt-4 alert alert-success">{{ message }}</span>
    {% endfor %}  
</div>

<div class="container">
    <div class="text-right mb-4">
        <a class="btn btn-primary" href='{{ path('AdminTrickNew') }}'>Créer un trick</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tbody>
            {% for trick in tricks %}
            <tr>
                <th>{{ trick.name }}</th>
                <th class='text-right'>
                    <a class="btn btn-secondary" href="{{ path('AdminTrickEdit', {id: trick.id }) }}">Editer</a>
                    <form action="{{ path('AdminTrickDelete', {id: trick.id }) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr ?')">
                        <input type="hidden" name='csrf_token' value='{{ csrf_token('delete' ~ trick.id) }}'>
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}