{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block body %}
<div class="container mt-4">
	<h1>{{ trick.name }}</h1>  
	<div class="row">
		<div class="col-lg-6">
			{% for image in trick.picture %}
			fezzef
				<img src="{{image}}"></img>

			{% endfor %}
		</div>
		<div class="col-lg-6">
			<h3>Commentaires :</h3>
			<div class="commentSection">
			{% for item in comment %}
				<h4>{{ item.UserId }}</h4>
				<em> {{ item.CreationDate|date("d/m/Y") }} </em>
				<p>{{ item.description }}</p>

			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}